{% extends 'base.html' %}

{% block content %}
<a href="{% url 'client:create_client'%}" class="btn btn-primary"> Adicionar</a>
{% if clients %}
<form class="d-flex" method="POST" action="{% url 'client:search'%}">
    {% csrf_token %}
    <input class="form-control" type="search" placeholder="Pequisar cliente" name="searched">
    <button type="submit">Pesquisar</button>
</form>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">CNPJ</th>
        <th scope="col">Ação</th>
    </tr>
    </thead>
    <tbody>
    {% for client in clients %}
    <tr>
        <th scope="row"> {{ client.id }}</th>
        <td> {{ client.name }}</td>
        <td> {{ client.email }}</td>
        <td> {{ client.cnpj }}</td>
        <td>
            <a href="{% url 'client:report' client.pk %}">Relatorio</a>
            <a href="{% url 'client:update_client' client.pk%}">Alterar</a>
            <a href="{% url 'client:delete_client' client.pk%}">Deletar</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-primary" role="alert">
    Você ainda não tem clientes cadastrados.
</div>
{% endif %}
{% endblock content %}